{% extends "docpull/header.html" %}

{% block body %}

<div class="container" align="center" style="width:100%; margin-top: 20px;">

    <form action="" method=post enctype=multipart/form-data>

        <div class="input-group">
            <label class="input-group-btn">
                <span class="btn btn-primary">
                    Browse&hellip; <input type=file name=file style="display: none;">
                </span>
            </label>
        </div>

        <span style="margin-top: 15px;" class="help-block">
            Select a Runsheet Request
        </span>

        <div style="margin-top: 30px;" class="btn-group">
            <label class="input-group-btn">
                <span class="btn btn-success">
                    Submit Runsheet&hellip;<input type=submit value=Upload style="display: none;">
            </div>

    </form>
</div>

{% endblock %}
